.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #0167ff;
	padding: 15px 20px;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--connection {
			display: flex;
			.footer__connection--item {
				max-width: 30px;
				margin: 0 5px;
			}
		}
	}
}
